/target

calcit/.compact-inc.cirru
.calcit/

js-out/

node_modules/
.yarn/*.gz

lib
builds/


/flamegraph.svg
.compact-inc.cirru

.vscode/

.DS_Store

/profile.json

.DS_Store

demos/

.yarn


.tmp-profiles/

profiling/*.gz
