
calcit.cirru -diff linguist-generated
yarn.lock -diff linguist-generated
Cargo.lock -diff linguist-generated
config/*-quality.cirru text linguist-generated=true
lib -diff linguist-generated
editing-history/* -diff linguist-generated
