
.github/
example/
js-out/
src/
tests/
calcit/
target/
scripts/

.calcit-error.cirru
yarn.lock
profile_results.txt

Cargo.lock
Cargo.toml

builds
tsconfig.json
docs/
Agents.md

rust-toolchain.toml
demos/
.rustfmt.toml
drafts/
