on:
  release:
    types: [created]

name: Publish to crate

permissions:
  contents: write
  id-token: write  # Required for OIDC

jobs:
  publish:
    name: Publish to cargo
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-node@v4
        with:
          node-version: 24
          cache: yarn
          registry-url: https://registry.npmjs.org/

      - uses: dtolnay/rust-toolchain@stable
        with:
          toolchain: stable

      - uses: Swatinem/rust-cache@v2

      - run: cargo test
      - run: cargo run --bin cr calcit/editor/compact.cirru --once
      - run: cargo run --bin cr calcit/test.cirru --once

      - name: "try js"
        run: >
          yarn
          && yarn tsc
          && cargo run --bin cr calcit/test.cirru --once js
          && ln -s ../../ node_modules/@calcit/procs
          && cp -v scripts/main.mjs js-out/
          && node js-out/main.mjs

      - name: "generate procs.mjs"
        run: yarn && yarn tsc

      - run: npm publish

